<div class="header">
    <a href="../">
        <img class="header-logo" src="/img/logo.png" alt="logo">
    </a>
    <div>
        <ul class="nav-links">
            <li><a href="../services">Services</a></li>
            <li><a href="../projects">Projects</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
    <div class="header-user">
        <div class="header-user-info">
            <a target="_blank" href="https://www.facebook.com/Bum1709">
                <img class="user-avatar" src="https://scontent.fhan14-1.fna.fbcdn.net/v/t1.6435-9/128749707_1354916421512593_6260204743671682944_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=-VWAqO_KkSsAX8oHjwS&_nc_ht=scontent.fhan14-1.fna&oh=9741563f580831011aa8b8a49bc0f6ae&oe=6169B14C" alt="">
            </a>
            <span class="user-name">Đạt</span>
        </div>
        <a class="header-cta" href="#">
            <button class="btn-header">User 
                <i class="fas fa-sort-down"></i>
            </button>
        </a>
    </div>
</div>