<div class="home-page-content">
  <div class="home-page">
    <div class="menu">
      <div class="title">
        <h2 class="menu-title">Our Menu</h2>
        <div class="underline"></div>
      </div>
      <div class="btn-container">
        <button class="filter-btn" data-id="all">All</button>
        <button class="filter-btn" data-id="breakfast">Breakfast</button>
        <button class="filter-btn" data-id="lunch">Lunch</button>
        <button class="filter-btn" data-id="shakes">Shakes</button>
        <button class="filter-btn" data-id="dinner">Dinner</button>
      </div>
      <div class="section-center">
        <div class="menu-item">
          <img class="menu-item-photo" src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=781&q=80" alt="menu item">
          <div class="item-info">
            <div class="item-title">
              <h4>Buttermilk pancakes</h4>
              <h4 class="price">$13.99</h4>
            </div>
            <p class="item-text">
              I'm baby woke mlkshk wolf bitters live-edge blue bottle, hammock freegan copper mug whatever cold-pressed
            </p>
          </div>
        </div>
        <div class="menu-item">
          <img class="menu-item-photo" src="https://images.unsplash.com/photo-1631309997731-2900da3ce229?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" alt="menu item">
          <div class="item-info">
            <div class="item-title">
              <h4>Godzilla Milkshake</h4>
              <h4 class="price">$6.99</h4>
            </div>
            <p class="item-text">
              Shabby chic keffiyeh neutra snackwave pork belly shoreditch. Prism austin mlkshk truffaut,
            </p>
          </div>
        </div>
        <div class="menu-item">
          <img class="menu-item-photo" src="https://images.unsplash.com/photo-1631515998698-5738f613c5cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="menu item">
          <div class="item-info">
            <div class="item-title">
              <h4>Country Delight</h4>
              <h4 class="price">$20.99</h4>
            </div>
            <p class="item-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, sint quam. Et reprehenderit fugiat nesciunt inventore
              laboriosam excepturi! Quo, officia.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="view-restaurant">
      <h2 class="About-us-title">View My Restaurant</h2>
      <div class="underline"></div>
      <div class="About-us">
        <div class="About-img-item">
          <img
            class="img-aboutus"
            src="https://images.unsplash.com/photo-1593642532400-2682810df593?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            alt=""
          />
        </div>
        <div class="About-img-item">
          <img
            class="img-aboutus"
            src="https://images.unsplash.com/photo-1631515998698-5738f613c5cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            alt=""
          />
        </div>
        <div class="About-img-item">
          <img
            class="img-aboutus"
            src="https://images.unsplash.com/photo-1631541911321-e41edca5fea3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            alt=""
          />
        </div>
        <div class="About-img-item">
          <img
            class="img-aboutus"
            src="https://images.unsplash.com/photo-1606787366850-de6330128bfc?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            alt=""
          />
        </div>
        <div class="About-img-item">
          <img
            class="img-aboutus"
            src="https://images.unsplash.com/photo-1631309997731-2900da3ce229?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
            alt=""
          />
        </div>
        <div class="About-img-item">
          <img
            class="img-aboutus"
            src="https://images.unsplash.com/photo-1631510083755-11ecb5172d81?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1454&q=80"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>