<div class="projects-page">
    <section class="sec-1">
        <div class="container-projects">
            <h2 class="main-title-project">Reveal Elements On Scroll</h2>
            <div class="content-project">
                <div class="image-project">
                    <img src="img/img1.jpg" alt="photo1">
                </div>
                <div class="text-box">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatibus officia inventore doloribus magnam architecto sit aperiam blanditiis nemo labore?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatibus officia inventore doloribus magnam architecto sit aperiam blanditiis nemo labore?</p>
                </div>
            </div>
            <div class="media-icon-projects">
                <a href="#" class="media-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="media-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="media-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="media-icon"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </section>
    <section class="sec-2">
        <div class="container-projects">
            <h3 class="section-title-project">Lorem Ipsum</h3>
            <div class="content-project">
                <div class="image-project">
                    <img src="img/img2.jpg" alt="photo2">
                </div>
                <div class="info-project">
                    <h4 class="info-project-title">Description</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quod libero consectetur repellat quia impedit magnam! Corrupti excepturi minus labore nostrum nobis eveniet, provident et, optio inventore ea est, expedita molestiae. Nulla voluptatibus ratione accusamus dicta possimus, harum dolor autem.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-3">
        <div class="container-projects">
            <h3 class="section-title-project">Lorem Ipsum</h3>
        </div>
        <div class="content-project">
            <div class="media-info-project">
                <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fab fa-youtube"></i> Youtube</a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></li>
            </div>
            <div class="image-project">
                <img src="img/img3.jpg" alt="photo3">
            </div>
        </div>
    </section>
</div>