<div class="input-menu">
    <h1>User Page</h1>
    <h2>Create Menu-items</h2>
    <div class="input-menu-lab">
        <label for="url">Url</label>
        <input class="input-item-menu" id="url" type="text">
    </div>
    <div class="input-menu-lab">
        <label for="name">Name</label>
        <input class="input-item-menu" id="name" type="text">
    </div>
    <div class="input-menu-lab">
        <label for="price">Price</label>
        <input class="input-item-menu" id="price" type="text">
    </div>
    <div class="input-menu-lab">
        <label for="des">Des</label>
        <input class="input-item-menu" id="des" type="text">
    </div>
    <button class="sub-btn" type="submit">Create</button>
</div>